html {
	margin: 0;
	padding: 0;
	font-family: "Poiret One";
	color: #AAC4B4;
}

.box {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: column;
	max-width: 500px;
	border: 25px solid #F9CBC7;
	padding: 25px;
	margin: 0 auto;
}
