html, body {
	margin: 0;
	padding: 0;
	font-family: "Poiret One";
	color: #AAC4B4;
}

img.resize {
  max-width:50%;
  max-height:50%;
}

body {
	background: #f4fdd933 url( "/images/mandala_background.png") no-repeat center center fixed;
	background-size: 50%;
}

.merch_id_link a {
	text-decoration: none;
}

.title_on_page_background {
		background-color: #F0A868;
}

.title_on_page h1 {
	display: flex;
	justify-content: center;
	font-weight: bold;
	font-size: 50px;
}

.box {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: column;
	max-width: 500px;
	border: 25px solid #F9CBC7;
	padding: 25px;
	margin: 0 auto;
}

.navbar {
	display: flex;
	height: 45px;
	flex-direction: row;
  background-color: #878B90;
  width: 100%;
}

.navbar li {
	list-style-type: none;
	display: inline-block;
	padding-top: 4px;
}

.navbar ul {
	margin: 0 0 0 20px;
	padding: 0
}

.navbar a {
	    display: block;
	    color: #AAC4B4;
	    text-decoration: none;
	    font-size: 17px;
	    transition-duration: 2.5s;
	    padding: 9px 5px 8px 7px;
}

.navbar a:hover {
  background-color: #F9CBC7;
	color: black;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 200px;
	margin: 50px;
	text-align: center;
	background-color: #F4FDD9;
	border-style: outset;
	padding-bottom: 20px;
}

.card:hover {
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2);
}


.container {
    padding: 2px 16px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container p {
	font-weight: bolder;
}
