html {
	margin: 0;
	padding: 0;
	font-family: "Poiret One";
}

h1 {
  color: #AAC4B4;
}

body {
	background: #fff url( "/images/hippie-young-woman-meditating.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

input {
	font-family: "Poiret One";
	color: #AAC4B4;
}

ul {
		float: right;
		width: 12%;
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    overflow: hidden;

}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: #AAC4B4;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
		transition-duration: 2.5s;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #F9CBC7;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #878B90;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #AAC4B4;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
	}
