html {
	margin: 0;
	padding: 0;
	font-family: "Poiret One";
}
div {
    width: 300px;
    height: 100px;
    position: relative;
    background-color: white;
    animation-name: example;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}

body {
	background: #fff url( "/images/purple_stone1.jpg") no-repeat center center fixed;
}

@keyframes example {
    0%   {background-color: white; left:0px;}
    50%  {background-color: #995294; left:500px;}
    100% {background-color: white; left:0px;}
}

#infinity {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 212px;
    height: 100px;
}

#infinity:before,
#infinity:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border: 20px solid #AAC4B4;
    -moz-border-radius: 50px 50px 0 50px;
         border-radius: 50px 50px 0 50px;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

#infinity:after {
    left: auto;
    right: 0;
    -moz-border-radius: 50px 50px 50px 0;
         border-radius: 50px 50px 50px 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}
