html {
	margin: 0;
	padding: 0;
	font-family: "Poiret One";
	color: #AAC4B4;
}

body {
	background: #fff url( "/images/purple_stone1.jpg") no-repeat center center fixed;
}

ul {
	display: flex;
}

li {
	list-style-type: none;
}

.merchant_dash {
	padding-top: 45px;
}

.navbar {
	display: flex;
	height: 45px;
	flex-direction: row;
  background-color: #878B90;
  width: 100%;
	position: fixed;
  z-index: 1000;
  top: 0;
}

.navbar li {
	list-style-type: none;
	display: inline-block;
	padding-top: 4px;
}

.navbar ul {
	margin: 0 0 0 20px;
	padding: 0
}

.navbar a {
    display: block;
    color: #AAC4B4;
    text-decoration: none;
    font-size: 17px;
    transition-duration: 2.5s;
    padding: 9px 5px 8px 7px;
}

.navbar a:hover {
  background-color: #F9CBC7;
	color: black;
}

.container_items {
	padding: 2px 16px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 50px;
	width: 33%;
}


.item_id_container {
    margin-top: 100px;
}

.container p {
	font-weight: bolder;
}

.title_on_page_background, .merchant_info_on_page_background {
	background-color: #F0A868;
  color: #87a593;
  opacity: .96;
  position: fixed;
  top: 45px;
  z-index: 1000;
  width: 100%;
  max-height: 50px;
}

.title_on_page h1 {
	display: flex;
	justify-content: center;
	font-size: 15pt;
}

.merch_name {
	margin-top: 50px;
}

.input_params {
	width: 100px;
	padding: 5px;
}

.input_params, input {
	width: 500px;
	height: 30px;
}

input[type="submit"] {
  font-family: Arial, sans-serif;
	width: 50px;
}

.input_params a {
	display: flex;
	flex-grow:
}

.container {
  padding: 2px 16px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
	padding-top: 50px;
}

.all_merchants_breakdown {
	background-color: #6d9c79;
	width: 28%;
	opacity: .9;
}

.all_merchants_breakdown ol {
	margin: 0 0 0 20px;
	padding: 5px;
	color: #F0A868;
}

.all_merchants_breakdown p {
	color: #F0A868;
}
