<!DOCTYPE html>
<html lang="eng">
<head>
  <title>Avalon&#39;s Altar</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One">
  <link rel="stylesheet" href="/stylesheets/show.css">
  <link rel="shortcut icon" type="image/x-icon" href="/images/om-favicon.ico">
</head>
<body>
<div class="fixed_nav_merchant_index">
  <nav class="navbar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/merchants">All Merchants</a></li>
      <li><a href="/items">All Items</a></li>
      <li><a href="/categories">Categories</a></li>
    </ul>
  </nav>
  <div class="merchant_info_on_page_background">
    <section class="title_on_page">
      <h1>Avalon&#39;s Altar Edit Merchant Page</h1>
    </section>
  </div>
  <form action="/merchants/<%= @merchant.id %>" method="POST">
    <p>Edit</p>
    <input type="hidden" name="_method" value="PUT" />
    <input type='text' name='merchant[name]' class="merchant_name_edit_field" value="<%= @merchant.name %>"/><br/>
    <input type='submit' value="Submit"/>
  </form>
</div>
</body>
</html>
