<!DOCTYPE html>
<html lang="eng">
<head>
  <title>Avalon&#39;s Altar</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One">
  <link rel="stylesheet" href="/stylesheets/show.css">
  <link rel="shortcut icon" type="image/x-icon" href="/images/om-favicon.ico">
</head>
  <form action="/merchants/<%= @merchant.id %>" method="POST">
    <p>Edit</p>
    <input type="hidden" name="_method" value="PUT" />
    <input type='text' name='merchant[name]' class="merchant_name_edit_field" value="<%= @merchant.name %>"/><br/>
    <input type='submit' value="Submit"/>
  </form>
</html>
