<form action="/merchants" method="post">
  <p>Enter a new merchant:</p>
  <input type='text' name='merchant[name]'/><br/>
  <input type='integer' name='merchant[id]'/><br/>
  <!-- <textarea name='task[description]'></textarea><br/> -->
  <input type='submit'/>
</form> 
