<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Avalon&#39;s Altar</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One">
    <link rel="stylesheet" href="/stylesheets/new.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/om-favicon.ico">
  </head>
  <body>
    <form action="/merchants" method="post">
      <p>Enter a new merchant:</p>
      <div class="merchant_input_field">
        <div class="merchat_name_box">
          <div class="merchant_name_input_box">
            <input type='text' name='merchant[name]' placeholder="Merchant Name"/><br/>
          </div>
        </div>
        <input type='submit' id="submit"/>
      </form>
  </body>
</html>
