<<<<<<< HEAD
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bazaar Crystals</title>
    <link rel="stylesheet" href="stylesheets/main.css">
  </head>
  <body>
    <form action="/merchants" method="post">
      <p>Enter a new merchant:</p>
      <div class="merchant_input_field">
        <div class="merchat_name_box">
          <div class="merchant_name_input_box">
            <input type='text' name='item[name]' placeholder="Merchant Name"/><br/>
          </div>
          <div class="merchant_id_input_box">
            <input type='integer' name='item[id]' placeholder="Merchant Id"/><br/>
          </div>
          <div class="merchant_description_input_box">
            <input type='description' name='item[description]' placeholder="Merchant Description"/><br/>
          </div>
          <div class="merchant_price_input_box">
            <input type='decimal' name='item[price]' placeholder="Merchant Price"/><br/>
          </div>
          <div class="merchant_image_input_box">
            <input type='text' name='item[image]' placeholder="Insert Image"/><br/>
          </div>
        </div>
        <input type='submit'/>
      </form>
  </body>
</html>
=======
<form action="/merchants" method="post">
  <p>Enter a new merchant:</p>
  <input type='text' name='merchant[name]'/><br/>
  <input type='submit' value="Submit"/>
</form>
>>>>>>> 390ece482805808078d3e7c788d9239f54bde083
