<!DOCTYPE html>
<html>
  <head>
    <title>Avalon&#39;s Altar</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/om-favicon.ico">
  </head>
  <body>
    <a href="/merchants" id="merchant_index">Merchant Index</a>
    <h1><%= @merchant.name %></h1>
    <p><%= @merchant.id %></p>
  </body>
</html>
