<!DOCTYPE html>
<html>
  <head>
    <title>Avalon&#39;s Altar</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One">
    <link rel="stylesheet" href="/stylesheets/show.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/om-favicon.ico">
  </head>
  <nav class="navbar">
    <h1><a href="/">Home</a></h1>
    <h1><a href="/merchants">All Merchants</a></h1>
    <h1><a href="/items">All Items</a></h1>
    <h1><a href="/categories">Categories</a></h1>
  </nav>
  <body>
    <h1> merchant </h1>
    <h1><%= @merchant.name %></h1>
    <p><%= @merchant.id %></p>
  </body>
</html>
