<h1>Item Data for Man Down by The River&#39;s Emporium</h1>
<ul>
  <li>Total Items: <%= @item.all.count%> </li>
  <li>Average Price Per Item: <%= @item.average_price_per_item %> </li>
  <li>Most Recently Created Item: <%= @most_recent.name %> </li>
  <li>Oldest Item: <%= @oldest.name %></li>
</ul>
