<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Bazaar Crystals</title>
  <link rel="stylesheet" href="stylesheets/main.css">
  <link rel="shortcut icon" type="image/x-icon" href="/images/om-favicon.ico">
</head>
<h1>Item Metrics</h1>
<ul>
  <li>Total Items: <%= @item.all.count%> </li>
  <li>Average Price Per Item: <%= @item.average_price_per_item %> </li>
  <li>Most Recently Created Item: <%= @most_recent.name %> </li>
  <li>Oldest Item: <%= @oldest.name %></li>
</ul>
