<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="utf-8">
    <title>Avalon&#39;s Altar</title>
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/om-favicon.ico">
  </head>
  <body>
    <form action="/items" method="post">
      <p>Enter a new item:</p>
      <div class="item_input_field">
        <div class="name_box">
          <div class="item_name_input_box">
            <input type='text' name='item[name]' placeholder="Item Name"/><br/>
          </div>
          <div class="item_description_input_box">
            <input type='description' name='item[description]' placeholder="Item Description"/><br/>
          </div>
          <div class="item_price_input_box">
            <input type='decimal' name='item[price]' placeholder="Item Price"/><br/>
          </div>
          <div class="item_image_input_box">
            <input type='text' name='item[image]' placeholder="Insert Image"/><br/>
          </div>
          <select name='item[merchant_id]'>
            <%@merchants.each do |merchant|%>
              <option value= "<%=merchant%>"> <%=merchant.name %> </option>
            <% end %>
          </select>
          <select name='item[category_id]'>
            <%@categories.each do |category|%>
              <option value= "<%=category%>"> <%=category.name %> </option>
            <% end %>
          </select>
        </div>
        <input type='submit'/>
      </form>
  </body>
  </html>
