<form action="/items" method="post">
  <p>Enter a new item:</p>
  <input type='text' name='item[name]'/><br/>
  <input type='integer' name='item[id]'/><br/>
  <input type='description' name='item[description]'/><br/>
  <input type='decimal' name='item[price]'/><br/>
  <input type='text' name='item[image]'/><br/>
  <input type='Submit'/>
</form>
