<form action="/items" method="post">
  <p>Enter a new item:</p>
  <input type='text' name='item[name]' value= "Name"/><br/>
  <input type='description' name='item[description]' value= "Description"/><br/>
  <input type='decimal' name='item[price]' value= "Price"/><br/>
  <input type='Submit'/>
</form>
