<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="utf-8">
  <title>Avalon&#39;s Altar</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One">
  <link rel="stylesheet" href="/stylesheets/show.css">
  <link rel="shortcut icon" type="image/x-icon" href="/images/om-favicon.ico">
</head>
<section class="navbar">
  <a href="/">Home</a>
  <a href="/categories">Categories</a>
  <a href="/items">Items</a>
  <a href="/merchants">Merchants</a>
</section>
  <form action="/categories/<%= @category.id %>" method="POST">
    <p>Edit</p>
    <input type="hidden" name="_method" value="PUT" />
    <input type='text' name='category[name]' value="<%= @category.name %>"/><br/>
    <input type='Submit'/>
  </form>
</html>
