<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="utf-8">
  <title>Bazaar Crystals</title>
  <link rel="stylesheet" href="stylesheets/main.css">
  <link rel="shortcut icon" type="image/x-icon" href="/images/om-favicon.ico">
</head>
  <form action="/categories/<%= @category.id %>" method="POST">
    <p>Edit</p>
    <input type="hidden" name="_method" value="PUT" />
    <input type='text' name='category[name]' value="<%= @category.name %>"/><br/>
    <input type='Submit'/>
  </form>
</html>
