<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="utf-8">
  <title>Avalon&#39;s Altar</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="shortcut icon" type="image/x-icon" href="/images/om-favicon.ico">
</head>
<body>
  <div class="fixed_nav_category_index">
    <nav class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/items">Items</a></li>
        <li><a href="/merchants">Merchants</a></li>
      </ul>
    </nav>
  <div class="title_on_page_background">
    <section class="title_on_page">
      <h1>Avalon&#39;s Altar Complete Categories List</h1>
    </section>
  </div>
  <div class="create_category_button">
    <form action="/merchants/new">
      <input type="submit" value="Create A Category">
    </form>
  </div>
</div>
<section class="container">
  <% @categories.each do |category| %>
  <div class="container_items">
    <div class="card">
    <p class="cat_id_link"><a href="/categories/<%= category.id %>"> <%= category.name %></a></p>
    <img class ="categoryimage" src="http://www.cell.com/pb-assets/marketing/picture%20show/2017/the-ocean/18.jpg">
    <a href="/categories/<%= category.id%>/edit">Edit</a>
    <form action="/categories/<%= category.id %>" method= "POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="Submit" value="Delete"/>
    </form>
  </div>
</div>
</article>
  <% end %>
</section>
</body>
</html>
