<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="utf-8">
  <title>Avalon&#39;s Altar</title>
  <link rel="stylesheet" href="stylesheets/new.css">
  <link rel="shortcut icon" type="image/x-icon" href="/images/om-favicon.ico">
</head>
  <form action="/categories" method="post">
    <p>Enter a new category:</p>
    <input type='text' name='category[name]'/><br/>
    <input type='submit' value="Submit"/>
  </form>
</html>
