<!DOCTYPE html>
<html lang="eng">
  <form action="/categories" method="post">
    <p>Enter a new category:</p>
    <input type='text' name='category[name]'/><br/>
    <input type='submit' value="Submit"/>
  </form>
</html>
