<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Avalon&#39;s Altar</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/om-favicon.ico">
  </head>
  <section class="navbar">
    <a href="/">Home</a>
    <a href="/categories">Categories</a>
    <a href="/items">Items</a>
    <a href="/merchants">Merchants</a>
  </section>
  <body>
    <form action="/categories" method="post">
      <p>Enter a new category:</p>
      <input type='text' name='category[name]' value="Name"/><br/>
      <input type='submit' value="Submit"/>
    </form>
  </body>
</html>
