<form action="/category" method="post">
  <p>Enter a new category:</p>
  <input type='text' name='category[name]'/><br/>
  <input type='integer' name='category[id]'/><br/>
  <input type='Submit'/>
</form>
