<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="utf-8">
  <title>Avalon&#39;s Altar</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One">
  <link rel="stylesheet" href="/stylesheets/show.css">
  <link rel="shortcut icon" type="image/x-icon" href="/images/om-favicon.ico">
</head>
  <nav class="navbar">
      <h1><a href="/">Home</a></h1>
      <h1><a href="/categories">Categories</a></h1>
      <h1><a href="/items">Items</a></h1>
      <h1><a href="/merchants">Merchants</a></h1>
  </nav>
  <body>
      <p><%= @category.name %></p>
      <p><%= @category.id %></p>
  </body>
</html>
