<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="utf-8">
  <title>Bazaar Crystals</title>
  <link rel="stylesheet" href="stylesheets/main.css">
  <link rel="shortcut icon" type="image/x-icon" href="/images/om-favicon.ico">
</head>
  <a href="/categories" id="category_index">Category Index</a>
  <h1><%= @category.name %></h1>
  <p><%= @category.id %></p>
</html>
