<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="utf-8">
  <title>Avalon&#39;s Altar</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One">
  <link rel="stylesheet" href="/stylesheets/show.css">
  <link rel="shortcut icon" type="image/x-icon" href="/images/om-favicon.ico">
</head>
  <a href="/categories" id="category_index">Category Index</a>
  <h1><%= @category.name %></h1>
  <p><%= @category.id %></p>


  <div id="infinity"/>
</html>
