<h1>Welcome to the Shop With No Name</h1>

<ul>
  <li><a href="/merchants">Merchant Index</a></li>
  <li><a href="/merchants/new">New Merchant</a></li>
  <li><a href="/categories">Category Index</a></li>
  <li><a href="/categories/new">New Category</a></li>
</ul>
