<!DOCTYPE html>
<h1>Welcome to the Man Down by the River&#39;s Emporium</h1>

<ul>
  <li><a href="/merchants">Merchant Index</a></li>
  <li><a href="/merchants/new">New Merchant</a></li>
  <li><a href="/categories">Category Index</a></li>
  <li><a href="/categories/new">New Category</a></li>
  <li><a href="/items">Item Index</a></li>
  <li><a href="/items/new">New Item</a></li>
</ul>
