<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Man Down by the River&#39;s Emporium</title>
    <link rel="stylesheet" href="stylesheets/main.css" title= "text/css" />
  </head>
<h1>Welcome to the Man Down by the River&#39;s Emporium</h1>


  <body>
    <h1>Welcome to the Man Down by the River&#39;s Emporium</h1>

    <nav>
      <a href="/merchants">Merchant Index</a>
      <a href="/merchants/new">New Merchant</a>
      <a href="/categories">Category Index</a>
      <a href="/categories/new">New Category</a>
      <a href="/items">Item Index</a>
      <a href="/items/new">New Item</a>
    </nav>
  </body>
</html>
