<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/error.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/om-favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One">
    <title>Avalon&#39;s Altar</title>
    <nav>
      <div class="wrap">
        <div class="home_page_logo">
          <img src="/images/om_img.png" alt="Om Symbol Link To Home Page" style="height:46px"/>
        </div>
        <div class="nav_links">
          <a href="/">Home</a>
          <a href="/items">Items</a>
          <a href="/categories">Categories</a>
          <a href="/merchants">Merchants</a>
        </div>
      </div>
    </nav>
  <main>
  <div class="overlay">
    <body background='https://dirtinmyear.files.wordpress.com/2015/05/clean-up-1.jpg'>
      <main class="error_content">
        <div class="page-container">
          <div class="text_content">
            <h1 class="big_oops">OOPS</h1>
            <h3 class="small_oops">We can't seem to find the page you're looking for.</h3>
            <h5 class="status_code">Error Code: 404</h5>
          </div>
        </div>
      </body>
  </div>
  </main>
</html>
